@font-face {
  font-family: 'raleway';
  src: url('/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

html {
  font-family: 'raleway';
}

body {
  margin: 0;
  padding: 0;
}

.cast-member,
.signup,
.signin {
  padding: 10px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  background-color: slateblue;
  border: none;
}
